<div class="valign-wrapper ">
  <div class="row">
    <h3 class="center">Welcome to SCA Groceries</h3>
    <p class="right-align ">Remember your feedback and Suggestions are of essence to us</p>
    <div class="center-align">
      <%= link_to suggestions_url, class: "btn white-text btn-large blue" do %>
        <span>Suggestions <i class="material-icons right">navigate_next</i></span>
      <% end %>
    </div>
  </div>
</div>