<div id="outter">
<div class="container" >
  <div class="w3-margin-top w3-border w3-border-black w3-round-large">
    <br><br>
    <%= render 'suggestions/form' %>
    <% if @suggestions.present? %>
      <% @suggestions.each do |suggestion| %>
          <div class="section w3-margin w3-padding w3-round-xlarge orange lighten-4">
            <%= link_to suggestion, class: "w3-hover-none flow-text" do %>
              <p class="flow-text">
                <i class="material-icons red-text ">
                  view_list
                </i>
                <span class="black-text w3-hover-none large">
               <%= suggestion.title %>
              </span>
                <span class="right w3-hover-none badge">
                <i class="">25</i> <i class="material-icons">comment</i>
              </span>
              </p>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <h5 class="center w3-margin red darken-4 white-text">No Suggestions found!</h5>
    <% end %>
  </div>
</div>
</div>
<div class="clearfix"></div>
<br><br><br>
